{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">DETAIL</h1>
    <h2>{{ article.pk }}번째 글</h2>
    <hr>
    <p>제목 : {{ article.title }}</p>
    <p>내용 : {{ article.content }}</p>
    <p>작성 시각 : {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
    <p>수정 시각 : {{ article.updated_at|date:"M,j,Y" }}</p>
    <hr>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
        {% csrf_token %}
        <textarea name="content" cols="30" rows="10" placeholder="댓글을 입력해 주세요"></textarea><br>
        <input type="submit" value="제출">
    </form>
    <br>
    <!-- 댓글 갯수 -->
    {{ comments|length }}
    {{ article.comments.all|length }}
    {{ commnets.count }}

    <!-- 댓글 목록 -->
    <!-- commetns가 없다고 해서 오류가 나진 않는다 -->
    {% for comment in comments %}
        <hr>
        <p>댓글 내용 : {{ comment.content }}</p>
        <p>댓글 작성 시각 : {{ comment.created_at|date:"SHORT_DATE_FORMAT" }}</p>
        <p>댓글 수정 시각 : {{ comment.updated_at|date:"M,j,Y" }}</p>
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제" onclick="return confirm('정말 댓글을 삭제하시겠습니까?')">
            </form>
        <br>
        {% empty %}
        <p><strong>댓글이 없어요 ㅠㅠ</strong></p>
    {% endfor %}
    <!-- 그냥 if else 해줘서 댓글이 없어요 써줄 수도 있음 -->
    <!-- <form action="/articles/{{article.pk}}/delete/", method="POST"> -->
    <!-- 밑에것 처럼 url이름으로 매핑해줄 수 있음 / 인자는 뒤에다 써줌! -->
    <form action="{% url 'articles:delete' article.pk %}", method="POST"> 
        {% csrf_token %}
        <input type="submit" value="DELETE" onclick="return confirm('삭제하시겠어요?')">
    </form>
    <form action="{% url 'articles:update' article.pk %}", method="GET">
        <input type="submit" value="EDIT">
    </form>
    <a href="{% url 'articles:index' %}">[BACK]</a>
{% endblock %}